@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.game {
    background-color: orange;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move {
    font-size: 70px;
}

h2 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.results {
    font-size: 35px;
}

// Classes for modals
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal {
    color: #000;
	display: none;
	background: #fff;
    width: 70%;
    max-width: 800px;
    padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
	
	.close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
        text-decoration: none;
        font-size: 20px;
		line-height: 30px;
	}
	
	header {
		font-size: 20px;
		// line-height: 40px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
	}

	.content {
		min-height: 30px;
		padding: 5px 30px;
	}
}

.show {
    display: block;
}

table {
    margin: 20px auto 0 auto;
}

.scroll {
    overflow: auto;
    height: 280px;
}